.hust-map {
    border: 0.5px solid #e7e7e7;
    padding: 10px;
}

.hust-map .map {
    border: 0.5px solid #e7e7e7;
    margin-top: 20px;
}
.hust-map .note {
    border: 0.5px solid #e7e7e7;
    margin-top: 20px;
}
.row-map{
    position: relative;
    display: table
}
.row-map .map-element{
    display: table-cell;
    width: 20px;
    height: 20px;
    /* border: 0.2px solid black; */
    text-align: center;
    position: relative;
   
}
.row-map .map-element:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
   
}
.row-map .tree-green a{
    color: green;
}
.row-map .tree-red a{
    color: red;
}
.row-map .rock a{
    color: grey;
}
.row-map .water{
    color: blue;
}
.row-map .rock{
    background-color: gray;
}
.icon-user{
    position: absolute;
    top: 2px;
    left: 5px;
    display: none;
    z-index: 10;
}

